*{
    font-size: 30px;
    color: beige;
    background-color: black;
}

/*heading selector*/
h1 {
    font-size: 70px;
    font-style: italic;
    color: aqua; 
    text-underline-position: below;
}

h2 {
    font-style: italic;
    font-size: larger;
    color: green;
}

h3 {
    font-style: italic;
    font-size: 30px;
    color: aquamarine;
} 
h4 {
    color: blueviolet;
    font-style: italic;
}
/*Class tag*/
.para1 {
    color: chartreuse;
    font-style: unset;
    font-size: 40px;
}