
.begin{
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 700px;
    align-items: center;
    background-color: whitesmoke;
}

.after{
    display: flex;
    background-color: whitesmoke;
}

#patch{
    width: 30cm;
    height: 10cm;
    object-fit: cover;
    border-radius: 20px;
}

.int{
    font-size: x-large;
}

.talents{
    font-size: x-large;
    background-color: whitesmoke;
}